@tailwind base;
@tailwind components;
@tailwind utilities;


@media print{

    .mqprint{

        color: black;
        
        
    }

    .buscadorPrint{

        visibility: hidden;
    }

    .navPrint{

        visibility: hidden;
    }


    .print_pl{
        border: 0ch;
        box-shadow: 0ch;
    }
}